@import 'index'

$auth-radius = 12px
$auth-padding-y = 40px
$auth-padding-x = 30px

.auth-wrapper
  width 90%
  max-width 500px
  margin 120px auto 60px
  background whiteColor
  border-radius $auth-radius
  box-shadow shadow-card
  padding $auth-padding-y $auth-padding-x
  font-family fontRegular

  @media (max-width: bp-tablet)
    margin-top 100px
    padding 30px 20px

.auth-title
  font-size 1.8rem
  color darkRed
  margin-bottom 25px
  text-align center

.auth-toggle
  btn()
  width 100%
  margin-top 15px