@font-face {
    font-family: "bergamosco-regular"; 
    src: url("../../assets/fonts/BergamascoRegular.woff2"); 
}

/*@font-face {
    font-family: "bergamosco-light"; 
    src: url("../../assets/fonts/BergamascoLight.ttf"); 
}*/