@font-face {
	font-family: "bergamosco-regular";
	src: url("/api/public/file/?name=BergamascoRegular.woff2");
}

/*@font-face {
    font-family: "bergamosco-light"; 
    src: url("../../assets/fonts/BergamascoLight.ttf"); 
}*/