@font-face
	font-family "bergamosco-regular"
	src url("/api/public/file/?name=fonts/BergamascoRegular.woff2")

/*@font-face {
    font-family: "bergamosco-light"; 
    src: url("../../assets/fonts/BergamascoLight.ttf"); 
}*/