fontRegular = "bergamosco-regular", sans-serif

.notifications_container
  position fixed
  top 20px
  right 20px
  z-index 9999

.notification
  background-color #a10b00c0
  color white
  padding 15px 20px
  margin-bottom 10px
  border-radius 5px
  box-shadow 0 2px 6px rgba(0,0,0,0.2)
  opacity 0
  transform translateX(100%)
  transition all 0.3s ease
  cursor pointer
  font-family fontRegular

.notification.show
  opacity 1
  transform translateX(0)
