.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-column {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}
