@font-face {
<<<<<<< HEAD
    font-family: "bergamosco-regular"; 
    src: url("../../assets/fonts/BergamascoRegular.ttf"); 
}

@font-face {
    font-family: "bergamosco-light"; 
    src: url("../../assets/fonts/BergamascoLight.ttf"); 
}

=======
    font-family: "bergamosco-regular";
    src: url("../../assets/fonts/BergamascoRegular.ttf");
}
@font-face {
    font-family: "bergamosco-light";
    src: url("../../assets/fonts/BergamascoLight.ttf");
}
>>>>>>> 81ddb66785d94ee8d61f3369a45e008fdf75c963
