@font-face {
    font-family: "bergamosco-regular"; 
    src: url("../../assets/fonts/BergamascoRegular.ttf"); 
}

@font-face {
    font-family: "bergamosco-light"; 
    src: url("../../assets/fonts/BergamascoLight.ttf"); 
}

