.container {
    display: flex;
    flex-direction: column;
    align-self: center;
    align-items: center;
    max-width: 1920px;
    width: 100dvw;
}

.content {
    width: 100%;
}

.header {
    display: flex;
    justify-content: center;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.05);
    border-bottom: 1px solid #7E868E;
    height: 100px;
    width: 100dvw;
    color: white;
    z-index: 100;
}


.header-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    max-width: 1920px;
    width: 100dvw;
    height: 100px;
}

.header-container p {
    text-align: left;
}

.logo {
    height: 90%;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo img {
    width: auto;
    height: auto;
    padding: 5px;
}


.hero {
    z-index: 0;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../../assets/bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 1294px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero p, .hero h1 {
    text-align: left;
    margin: 5px 10px 5px 10px;
}

.hero div {
    margin: 5px 0px 10px 0px;
}



.hero .b-btn {
    padding: 30px 50px 30px 50px;
}

.hero .w-btn {
    padding: 12px 25px 12px 25px;
}

.hero .frame {
    width: 40%;
    padding-right: 30%;
}

.background {
    width: 100%;
    height: 100%;
}