body {
    background-color: white;
}

.header_main {
  display: flex;
  justify-content: space-around; 
  align-items: center;          
  position: absolute;            
  background-color: rgba(0, 0, 0, 0.05);
  border-bottom: 1px solid #7E868E; 
  height: 100px;                   
  width: 100vw;                
  max-width: 1920px;             
  padding: 0 1%;                
  box-sizing: border-box;      
  color: white;
  z-index: 100;
}

.my_font{
    font-family: "bergamosco-regular", sans-serif;
}
.logo {
  height: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo img {
  padding: 5px;
}

.wineshop {
  font-size: 50px;
  font-family: "bergamosco-light", sans-serif;
}

.profile, .basket {
  display: block;
  cursor: pointer;
  transition: 0.3s;
}

.profile {
  width: 90px;
  height: 90px;
}

.basket {
  width: 100px;
  height: 100px;
  margin-left: auto;
  margin-right: 0;
}



.butcat {
    position: fixed;       
    top: 500px;              
    left: 50%;           
    background-color: #800000;
    color: white;
    padding: 15px 30px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    z-index: 10;           
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.background-container {
    width: 100vw;
    position: relative;
}

.bg-1 {
    width: 100vw;
    height: 100vh;
    background-image: url('../../assets/bg.png');
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat;
    position: relative; 
}

.acii {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.acii img {
    max-width: 100%;
    height: auto;
    display: block;
}

.butcat {
    font-family: "bergamosco-regular", sans-serif;
    position: absolute;   
    top: 70%;             
    left: 12%;            
    background-color: #800000;
    color: white;
    padding: 15px 30px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    z-index: 5;          
}

.vinishko {
    font-family: "bergamosco-regular", sans-serif;
    position: absolute;   
    top: 50%;             
    left: 12%;   
    color: white;
    z-index: 20;
    font-size: 50px;
}

.bg-2 {
    width: 100vw;
    height: 100vh;
    background-image: url('../../assets/slider.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    display: flex;
    justify-content: center; 
    align-items: center; 
    z-index: 1;
}

.ssilka {
    font-family: "bergamosco-regular", sans-serif;
    position: absolute; 
    right: 20px; 
    bottom: 20px; 
    font-size: 20px; 
    padding: 10px;
}

.slider {
    width: 450px;
    height: 550px;
    position: relative;
    overflow: hidden;
    z-index: 9999;
    display: flex; 
}

.slider-img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 0.5s ease;
}

.slider-img.active {
    opacity: 1;
}

.slider img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.slider .controls {
    position: absolute;
    top: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);
    z-index: 1;
}

.slider .left, .slider .right {
    cursor: pointer;
    width: 40px;
    height: 40px;
    transition: opacity 0.3s;
}

.slider .left {
    left: 10px;
}

.slider .right {
    right: 10px;
}

.slider .left:hover, .slider .right:hover {
    opacity: 0.7;
}




.footer {
    background-color: #2f0909;
    color: #ffffff;
    font-family: "bergamosco-regular", sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 60px;
    height: 250px;             
    box-sizing: border-box;
}

.title_foot {
    font-size: 30px;
    line-height: 1.2;
    margin: 0;

}

.icon_wine_foot {
    margin: 10px 0;
}

.copy {
    font-size: 14px;
    opacity: 0.8;
    margin-top: 10px;
}

.menu_foot {
    display: flex;
    gap: 40px;
}

.menu_foot a {
    color: #ffffff;
    text-decoration: none;
    font-size: 16px;
}

.menu_foot a:hover {
    opacity: 0.6;
}

.social {
    margin-top: 25px;
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    font-size: 26px;
    right: 20px;
}

.social a {
    text-decoration: none;
    color: #ffffff;
}

@media (max-width: 1024px) {
    .footer {
        padding: 20px 40px;
        height: 160px;
    }

    .menu_foot {
        gap: 25px;
    }

    .icon_wine_foot {
        font-size: 40px;
    }

    .wineshop {
        font-size: 40px !important;
        font-family: "bergamosco-light", sans-serif;
    }
    .flex-column {
        font-size: 20px !important;
        font-family: "bergamosco-light", sans-serif;
    }
}

@media (max-width: 768px) {
    .footer {
        flex-direction: column;
        height: auto;               
        padding: 30px 20px;
        text-align: center;
        gap: 25px;
    }

    .menu_foot {
        flex-direction: column;
        gap: 15px;
    }

    .social {
        margin-top: 10px;
        justify-content: center;
    }

    .icon_wine_foot {
        margin: 5px 0;
    }

    .wineshop {
        font-size: 30px !important;
        font-family: "bergamosco-light", sans-serif;
    }
    .flex-column {
        font-size: 10px !important;
        font-family: "bergamosco-light", sans-serif;
    }
}


@media (max-width: 480px) {
    .title_foot {
        font-size: 18px;
        line-height: 1.1;
    }

    .icon_wine_foot {
        font-size: 34px;
    }

    .menu_foot a {
        font-size: 15px;
    }

    .social {
        font-size: 22px;
    }

    .wineshop {
        font-size: 20px !important;
        font-family: "bergamosco-light", sans-serif;
    }

    .flex-column {
        font-size: 10px !important;
        font-family: "bergamosco-light", sans-serif;
    }
}